.Firstmenuzone {
	width: 70%;
	height: 30px;
	background-image: 
	-moz-linear-gradient(bottom, rgb(245,245,245) 0%, rgb(252,252,252) 63%);
	border-radius: 10px 10px 0px 0px;
	padding-left: 20px;
	margin: auto;
	margin-top: 0px;  
	padding-right: 20px;
	padding-top: 5px;
	text-align: center;
	font-family: meta;
	color: gray;
	border-bottom: 1px solid white; 
}

.menuzone {
	width: 70%;
	height: 30px;
	background-image: 
	-moz-linear-gradient(bottom, rgb(245,245,245) 0%, rgb(252,252,252) 63%);
	border-radius: 0px;
	padding-left: 20px;
	margin: auto;
	margin-top: 0px;  
	padding-right: 20px;
	padding-top: 5px;
	text-align: center;
	font-family: meta;
	color: gray;
	border-bottom: 1px solid white; 
}

.Lastmenuzone {
	width: 70%;
	height: 30px;
	background-color:#CCC;
	background-image: 
	-moz-linear-gradient(bottom, rgb(245,245,245) 0%, rgb(252,252,252) 63%);
	padding-left: 20px;
	border-radius: 0px 0px 10px 10px;
	margin: auto;
	margin-top: 0px;  
	padding-right: 20px;
	padding-top: 5px;
	text-align: center;
	font-family: meta;
	color: gray;
}

.onlymenuzone {
	width: 70%;
	height: 30px;
	background-image: 
	-moz-linear-gradient(bottom, rgb(245,245,245) 0%, rgb(252,252,252) 63%);
	border-radius: 10px 10px 10px 10px;
	padding-left: 20px;
	margin: auto;
	margin-top: 0px;  
	padding-right: 20px;
	padding-top: 5px;
	text-align: center;
	font-family: meta;
	color: gray;
	margin-top: 30px;
}

.logo{
	width:200px;
	height:200px;
	margin:auto;
	vertical-align: auto;
}

.quote{
	font-family:kalinga;
	font-size:0.7rem;
	color:gray;
}

#container{
	margin-top:80px;
	transition: all 1s ease-out;*/
	z-index: 10;
}

.msg{
	padding-top: 0px;
	font-family:kalinga;
	font-size:1rem;
}

#menu{
	margin-top: auto;
	z-index: 1;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}

#starterbg{
  width: 100%;
  height: 100%;
}

#starter{
	margin: 20px 20px auto;
  border-radius: 20px;
  min-width: 200px;
  
  min-height: 380px;
  max-height: 500px;
  background-image: 
  -moz-linear-gradient(bottom, rgb(245,245,245) 0%, rgb(252,252,252) 63%);
  box-shadow: 0 5px 4px -2px #555;
}

#logoholder{
	margin: 0px auto;
	text-align: center;
	z-index: 20;
	height: 270px
	
}

#logo {
	margin-top: 30px;
}

#nameapp{
	font-family: Throw My Hands Up in the Air;
	color:black;
}

#startapp{
	border-radius: 10px;
	margin: 10px auto;
	width: 200px;
	height: 40px;
	text-align: center;
	background-image: 
	-moz-linear-gradient(bottom, rgb(245,245,245) 0%, rgb(252,252,252) 63%);
  box-shadow: 0 5px 4px -2px #555;
}

#startext{
	font-family: meta;
	color: #222;
	padding-top: 7px;
}